@using SurveyTest.Models
@model SurveyQuestionResult
           
@{ 
    var surveyDef = (HeaderQuestionDef)Model.SurveyQuestion.Question;
}

<div id='@surveyDef.QuestionName'>
    <h3>@surveyDef.PromptText</h3>
    <br />
</div>
