@model SurveyTest.Models.SurveyRunModel

@{
    ViewBag.Title = "Survey";
}

<h1>@Model.Name</h1>

@using (Html.BeginForm(new { id = Model.Id }))
{ 
    foreach (var kv in Model.Answers.OrderBy(x => x.Key.Order))
    { 
        @Html.Partial(kv.Key.Question.FormatType, kv.Value)
    }
    <br />
    <input type="submit" value="Submit Results" name="save" />
}
