@using SurveyTest.Models
@model SurveyQuestionResult
           
@{ 
    var questionDef = (MultiChoiceQuestionDef)Model.SurveyQuestion.Question;
    var checkedIdx = -1;
}

<div id='@questionDef.QuestionName'>
    <label>@questionDef.PromptText</label>
    
    @if ((Model.Answer == null) && (Model.SurveyQuestion.Mandatory) && !ViewData.ModelState.IsValid)
    { 
        <span class="error">* Required</span>
    }
    else 
    {
        if (Model.Answer != null)
        {
            if (Model.SurveyQuestion.Question is YesNoQuestionDef)
            {
                checkedIdx = bool.Parse(Model.Answer) ? 0 : 1;
            }
            else
            { 
                checkedIdx = int.Parse(Model.Answer);
            }
        }
    }
    
    <br />
    @{ var idx = 0; }
    @foreach (var opt in questionDef.QuestionOpts)
    {
        var atts = new Dictionary<string, object> { { "id", questionDef.QuestionName + "_" + idx.ToString("00") } };
        if (idx == checkedIdx) { atts["checked"] = true; }
        
        @Html.RadioButton(questionDef.GroupName, questionDef.ResultName(idx++), atts)@opt.Text<br/>
    }
</div>
