@using SurveyTest.Models
@model SurveyQuestionResult

@{ var questionDef = (MultiSelectQuestionDef)Model.SurveyQuestion.Question; }

<div id='@questionDef.QuestionName'>
    <label>@questionDef.PromptText</label>

@{ 
    IList<int> checkedAnswers = null;
    if ((Model.Answer == null) && (Model.SurveyQuestion.Mandatory) && !ViewData.ModelState.IsValid)
    { 
        <span class="error">* Required</span>
    }
    else 
    {
        if (Model.Answer != null)
        {
            checkedAnswers = Model.Answer.Split(',').Select(x => int.Parse(x)).ToList();
        }
    }
    <br />
    
    var idx = 0;

    foreach (var opt in questionDef.QuestionOpts)
    {
        var atts = new Dictionary<string, object> { { "id", questionDef.QuestionName + "_" + idx.ToString("00") } };
        if ((checkedAnswers != null) && (checkedAnswers.Contains(idx))) { atts["checked"] = true; }
        
        @Html.CheckBox(questionDef.ResultName(idx++), atts)<label>@opt.Text</label><br />
    }
}
</div>
