@model IList<SurveyTest.Models.SurveyModel>
@{
    ViewBag.Title = "Home Page";
    
}

<h2>@ViewBag.Message</h2>

<h3>Surveys</h3>

<ul>
@foreach (var survey in Model)
{ 
        <li>@Html.ActionLink(survey.Name, "Index", "Survey", new { id = survey.Id, area = "" }, null) - @survey.Description</li>
}
</ul>
