@model SurveyTest.Repository.survey

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>survey</legend>

    <div class="display-label">survey_id</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.survey_id)
    </div>

    <div class="display-label">survey_name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.survey_name)
    </div>

    <div class="display-label">survey_desc</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.survey_desc)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
